/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* General Page Formatting */
.container {
    width: 970px;
    margin: 0 auto;
    font-family: "Roboto",sans-serif;
    background-color: white;
}
.flexed {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.small-name{
    font-weight: normal;
}

/* Search Bar */
.search-bar {
    padding-top: 10px;
    align-items: center;
}
.search-bar .icon{
    width: 40px;
}
.search-bar .leaf {
    background-color: #00d1b2;
    border-radius: 6px;
}
.search-bar .title {
    font-family: serif;
    font-weight: normal;
    font-size: 33px;
}
.search-bar .search {
    width: 650px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid lightgray;
    padding-left: 20px;
}

/* Navigation Bar*/
.nav-bar {
    padding: 10px;
    border-bottom: 4px solid black;
}

/* Tag Line */
.tagline {
    text-align: center;
    margin: 30px 0px 30px 0px;
    font-weight: 500;
    font-size: 37.5px;
}

/* Main Pictures */
.main-pics .left {
    flex: 2;
    margin-right: 20px;
}
.main-pics .right {
    flex: 1;
    flex-direction: column;
}
.main-pics .nav-block {
    background-color: #00d1b2;
    color: white;
    font-size: 30px;
    align-items: center;
}
.main-pics .nav-line {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-pics .nav-line img {
    width: 30px;
    margin-left: 10px;
}
.main-pics .left .nav-block {
    flex: 1;
    text-align: center;
    padding: 40px 0px;
}
.main-pics .left .nav-line {
    padding-top: 40px;
}
.main-pics .right .nav-line {
    font-size: 18px;
    padding: 26px 110px 26px 0px;
}

/* Small Pictures */
.small-pics {
    justify-content: space-evenly;
    background-color: #aae8d8;
    padding: 60px 0px;
}
.small-pics .small-plant {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small-pics img {
    border-radius: 50%;
    width: 140px;
    margin-bottom: 25px;
}

/* Cookie Message */
.cookie {
    background-color: white;
    border: 2px solid black;
    align-items: center;
    padding: 20px;
    position: relative;
    bottom: 72px;
}
.cookie img {
    height: 70px;
}
.cookie .message{
    font-size: 18.5px;
}
.cookie .btn {
    background-color: #00d1b2;
    color: white;
    border: 3px solid black;
    box-shadow: 4px 4px black;
    padding: 6px 20px;
    font-size: 20px;
    font-weight: bold;
}