*{
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
}
.nav{
    width: 970px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(70, 70, 70);
    color: white;
}
.nav-links{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
a{
    color: white;
    text-decoration-line: none;
}
.active{
    font-weight: bold;
}
.btn{
    background-color:rgb(51, 179, 214);
    color: white;
    margin-right: -30px;
    padding: 5px 10px;
    box-shadow: 3px 3px black;
    font-size:medium;
}